<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
{{ "yes" if found else "no" }}
<br>

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.name.label() }}
                {{ form.name(disabled=True) }}
            </div>
            <div class="form-group">
                {{ form.surname.label() }}
                {{ form.surname(disabled=True) }}
            </div>
            <div class="form-group">
                {{ form.passport.label() }}
                {{ form.passport(disabled=True) }}
            </div>
            <div class="form-group">
                {{ form.flight.label() }}
                {{ form.flight()}}
            </div>

            <div class="form-group">
                {{ form.search() }}
            </div>
        </fieldset>
    </form>
</div>

</body>
</html>